.footer {
    height: 40px;
    background-color: #374259;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
}

.footer span {
    margin: 10px;
    font-weight: 600;
}