.book-details {
    border-radius: 5px;
    padding: 10px;
    background-color: #FAAB78;
    margin: 10px;
    max-width: 500px;
}

.detail-row {
    display: flex;
    padding: 5px;
    justify-content: space-between;
    margin: 5px;
    font-size: 14px;
}

.book-label {
    border-right: 5px solid #ffff;
    color: #ffff;
    width: 150px;
    height: 30px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin: 0 10px 0 10px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}